// Variables for holding colours and font of the email
$grey: #181818;
$white: #FFFFFF;
$green: #50b853;
$black: #000000;
$open-sans: "Open Sans", sans-serif;

// ensures the body fills the viewport
body {
  margin: 0;
  // sets the default fonr for all elements
  * {
    font-family: $open-sans;
  }
  // centers the table holding everything
  table#main {
    margin: auto;
    tr {
      // sets the background colour to grey for the topmost header element on the page
      &.header {
         background-color: #FAFAFA;
         // Formats the text in the header
         td {
           opacity: .5;
           font-size: 0.8em;
           line-height: 1.8em;
           color: #666666;
           padding: 0.9em 0 0.9em 15px;
         }
      }
      &.content {
        td {
          // Left column of the tables two column layout which contains images
          // sets the width and padding for the image cell
          &:nth-child(1) {
            width: 35%;
            padding-right: 2.5%;
          }
          // right column of the tables two column layout, containinf heading,
          // text and link for the projects, aligns it to the top of the cell
          // and sets the width
          &:nth-child(2) {
            width: 60%;
            vertical-align: top;
            // sets the colour for h1 and p elements and places padding to give
            // space between text and image
            h1, p {
              padding-left: 10px;
              padding-right: 0;
              color: $black;
              // styles the link to be green, in line with Grooup's branding
              a {
                color: $green;
                font-weight: bold;
                font-size: 0.9em;
                text-decoration: none;
              }
            }
          }
          // Rounds the corners of the image and indents it from the left
          img {
            border-radius: 7px;
            margin: 15px 0 15px 15%;
          }
          // sets the font size of the heading element
          h1 {
            font-size: 2em;
          }
          // sets the padding for p elements that are not project text (greeting and
          // signature
          p {
            padding-left: 5%;
            padding-right: 5%;
          }
        }
      }
      // Styles the footer
      &.footer {
        background-color: $grey;
        // makes the footer text white, and have spacing above and below, alligns
        // to the centre and makes it semi opaque
        td {
          color: $white;
          line-height: 3em;
          text-align: center;
          opacity: .5;
        }
      }
    }
  }
}
